.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto
}
.image {
  font-size: 10rem;
  animation:spin linear 0.9s infinite;
  position:  fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  
}
@keyframes spin{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


